.banner {
  height: 223px;
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  width: 100%;
  mix-blend-mode: darken;
  opacity: 0.9;
}

.homepage {
  /* margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 100px;
  margin-right: 100px; */
  margin: 80px 100px;
}
/* .homepage-title {
  color: white;
} */

@media screen and (max-width: 768px) {
  .homepage {
    margin: 16px 20px 0 20px;
  }
}

/* TABLETTE */
@media screen and (max-width: 992px) and (min-width: 769px) {
  .homepage {
    margin: 16px 20px 0 20px;
  }

}
