.gallery_image > img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 25px;
}
/* message when no image exist */
.gallery_displayNoImage {
  width: 100%;
  height: 25rem;
  background-color: #f7f7f7;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.gallery_image {
  position: relative;
}
/* counter */
.gallery_count {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  bottom: 19px;
  text-align: center;
  width: 100%;
  position: absolute;
}
/* arrows */
.gallery_arrowLeft {
  position: absolute;
  left: 13px;
  top: 44%;
  cursor: pointer;
}
.gallery_arrowRight {
  position: absolute;
  right: 13px;
  top: 44%;
  cursor: pointer;
}
.gallery_arrowLeft img,
.gallery_arrowRight img {
  width: 45px;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .gallery_arrowLeft img,
  .gallery_arrowRight img {
    width: 11.67px;
  }

  .gallery_count {
    font-size: 15px;
  }

  .gallery_image > img {
    height: 255px;
    border-radius: 10px;
  }
}

/* TABLETTE */
@media screen and (max-width: 992px) and (min-width: 769px) {
  .gallery_arrowLeft img,
  .gallery_arrowRight img {
    width: 16px;
  }

  .gallery_count {
    font-size: 18px;
  }

  .gallery_image > img {
    height: 255px;
    border-radius: 10px;
  }
}
